div(class='left-menu')
	div(class='menu-group')
		ul(class='menu-ul')
			li(class='menu-li')
				a(
				class='menu-a'
				href="/client-list"
				) Клиенты
			li(class='menu-li')
				a(
				class='menu-a'
				href="#"
				) Заказы
			li(class='menu-li')
				a(
				class='menu-a'
				href="#"
				) План продаж