form(class="col new-client-form")
	div(class="form-group col")
		label(for="lastName") Фамилия
		input(
			type="text"
			class="form-control"
			id="lastName"
			placeholder="Путин"
			)
	div(class="form-group col")
		label(
			for="firstName") Имя
		input(
			type="text"
			class="form-control"
			id="firstName"
			placeholder="Владимир"
			)
	div(class="form-group col")
		label(for="middleName") Отчество
		input(
			type="text"
			class="form-control"
			id="middleName"
			placeholder="Владимирович"
			)
	div(class="form-group col")
		label(for="clientEmail") Email
		input(
			type="email"
			class="form-control"
			id="clientEmail"
			placeholder="Email"
			)

	div(class="form-group col")
		label(for="clientPhone") Телефон
		input(
			type="text"
			class="form-control"
			id="clientPhone"
			placeholder="+79876543210"
			)
	button(
		type="button"
		class="btnPreliminaryForm"
		) Сохранить